@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 100;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 200;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 600;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 700;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 800;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
    src: url('@renderer/assets/webfonts/Roboto-BlackItalic.ttf') format('truetype');
}
