@forward 'scss/bulma-customized';
@forward 'scss/vue-tags-input';
@forward 'scss/bulma-ribbon';

@use 'scss/fontawesome' as *;
@use 'scss/mdi' as *;
@use 'scss/roboto' as *;
@use 'scss/roboto-mono' as *;
@use '~vue-multiselect/dist/vue-multiselect.css' as *;

:root {
    font-size: 16px;

    -moz-osx-font-smoothing: grayscale !important;
    -webkit-font-smoothing: subpixel-antialiased !important;

    html.is-full-height {
        &,
        body,
        #app,
        #app > .container {
            height: 100%;
        }
    }
}
