@use 'scss/bulma-customized' as *;
@use 'scss/fontawesome' as *;
@use 'scss/mdi' as *;
@use 'scss/roboto' as *;
@use 'scss/roboto-mono' as *;
@use 'scss/multi-select' as *;
@use 'scss/vue-slider' as *;
@use 'scss/bulma-ribbon' as *;

:root {
    font-size: 16px;

    -moz-osx-font-smoothing: grayscale !important;
    -webkit-font-smoothing: subpixel-antialiased !important;

    html.is-full-height {
        &,
        body,
        #app,
        #app > .container {
            height: 100%;
        }
    }
}
